.card {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;
}

.card__author {
  font-weight: 600;
}

.card__link {
  text-decoration: none;
  color: #000;
  transition: opacity .3s ease-in;
}

.card__link:hover {
  opacity: 0.7;
}

.card__comments-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}